<script type="text/javascript">
  {% if cart %}
    window.pn.cart = {};
  	window.pn.cart = {{cart | json}}
    window.pn.cart.items = [];

    {% for item in cart.items %}
      var cart_item = {{item | json}};
      cart_item["collection_ids"] = [];
      {% for c in item.product.collections %}
        cart_item["collection_ids"].push({{c.id}})
        {% endfor %}
      window.pn.cart.items.push(cart_item);
    {% endfor %}

    if (typeof window.pn.cart.items == "object") {
      for (var i=0; i<window.pn.cart.items.length; i++) {
        ["sku", "vendor", "url", "image", "handle", "product_type", "product_description"].map(function(a) {
          delete window.pn.cart.items[i][a]
        })
      }
    }
  {% endif %}
</script>

{% raw %}
<script>
if(typeof pn === "undefined"){
  pn = {};
}
if(typeof pn.settings === "undefined"){
  pn.settings = {};
}
pn.settings.defaultSetting={"id":15113829,"a":"Pre-order Now","b":true,"c":null,"d":"Out of stock","e":false,"f":"Only {{qty}} remaining","g":"Expected to ship 3/21","h":"hover","i":false,"j":"Pre-order","k":"2022-03-12T08:55:00.000Z","l":"2022-03-23T00:59:00.000Z","m":"default","n":null,"o":true,"handle":null,"p":null,"y":null,"q":true,"r":true,"s":null,"t":null,"u":1,"v":false,"w":"circle","tag":null,"x":null,"z":"no_discount","aa":"0.0","ab":0,"price":"0.0","compare_at_price":"0.0"};
pn.settings.singleProductSettings=[{"id":20322050,"a":"Pre-order Now","b":false,"c":null,"d":"Out of stock","e":false,"f":"Only {{qty}} remaining","g":"Expected to ship 3/21","h":"hover","i":false,"j":"Pre-order","k":"2022-03-12T08:55:00.000Z","l":"2022-03-23T00:59:00.000Z","m":"variant","n":"39718320275518","o":true,"handle":"the-nightly-pajama-set-holiday","p":"6762125393982","y":"https://cdn.shopify.com/s/files/1/0967/2808/products/2pcPJSet-Easter_71c56bb5-fded-4f71-8ca4-0f07e34fe729.jpg?v=1647307990","q":true,"r":true,"s":16,"t":null,"u":1,"v":false,"w":"circle","tag":null,"x":"","z":"no_discount","aa":"0.0","ab":0,"price":"0.0","compare_at_price":"0.0"},{"id":20322049,"a":"Pre-order Now","b":false,"c":null,"d":"Out of stock","e":false,"f":"Only {{qty}} remaining","g":"Expected to ship 3/21","h":"hover","i":false,"j":"Pre-order","k":"2022-03-12T08:55:00.000Z","l":"2022-03-23T00:59:00.000Z","m":"variant","n":"39718320242750","o":true,"handle":"the-nightly-pajama-set-holiday","p":"6762125393982","y":"https://cdn.shopify.com/s/files/1/0967/2808/products/2pcPJSet-Easter_71c56bb5-fded-4f71-8ca4-0f07e34fe729.jpg?v=1647307990","q":true,"r":true,"s":16,"t":null,"u":1,"v":false,"w":"circle","tag":null,"x":"","z":"no_discount","aa":"0.0","ab":0,"price":"0.0","compare_at_price":"0.0"},{"id":20321938,"a":"Pre-order Now","b":false,"c":null,"d":"Out of stock","e":false,"f":"Only {{qty}} remaining","g":"Expected to ship 3/21","h":"hover","i":false,"j":"Pre-order","k":"2022-03-12T08:55:00.000Z","l":"2022-03-23T00:59:00.000Z","m":"variant","n":"39718312476734","o":true,"handle":"the-nightly-pajama-set-holiday","p":"6762125393982","y":"https://cdn.shopify.com/s/files/1/0967/2808/products/2pcPJSet-Easter_71c56bb5-fded-4f71-8ca4-0f07e34fe729.jpg?v=1647307990","q":true,"r":true,"s":26,"t":null,"u":1,"v":false,"w":"circle","tag":null,"x":"","z":"no_discount","aa":"0.0","ab":0,"price":"0.0","compare_at_price":"0.0"},{"id":20321936,"a":"Pre-order Now","b":false,"c":null,"d":"Out of stock","e":false,"f":"Only {{qty}} remaining","g":"Expected to ship 3/21","h":"hover","i":false,"j":"Pre-order","k":"2022-03-12T08:55:00.000Z","l":"2022-03-23T00:59:00.000Z","m":"variant","n":"39718312443966","o":true,"handle":"the-nightly-pajama-set-holiday","p":"6762125393982","y":"https://cdn.shopify.com/s/files/1/0967/2808/products/2pcPJSet-Easter_71c56bb5-fded-4f71-8ca4-0f07e34fe729.jpg?v=1647307990","q":true,"r":true,"s":36,"t":null,"u":1,"v":false,"w":"circle","tag":null,"x":"","z":"no_discount","aa":"0.0","ab":0,"price":"0.0","compare_at_price":"0.0"},{"id":20321935,"a":"Pre-order Now","b":false,"c":null,"d":"Out of stock","e":false,"f":"Only {{qty}} remaining","g":"Expected to ship 3/21","h":"hover","i":false,"j":"Pre-order","k":"2022-03-12T08:55:00.000Z","l":"2022-03-23T00:59:00.000Z","m":"variant","n":"39718312411198","o":true,"handle":"the-nightly-pajama-set-holiday","p":"6762125393982","y":"https://cdn.shopify.com/s/files/1/0967/2808/products/2pcPJSet-Easter_71c56bb5-fded-4f71-8ca4-0f07e34fe729.jpg?v=1647307990","q":true,"r":true,"s":46,"t":null,"u":1,"v":false,"w":"circle","tag":null,"x":"","z":"no_discount","aa":"0.0","ab":0,"price":"0.0","compare_at_price":"0.0"},{"id":20321934,"a":"Pre-order Now","b":false,"c":null,"d":"Out of stock","e":false,"f":"Only {{qty}} remaining","g":"Expected to ship 3/21","h":"hover","i":false,"j":"Pre-order","k":"2022-03-12T08:55:00.000Z","l":"2022-03-23T00:59:00.000Z","m":"variant","n":"39718312378430","o":true,"handle":"the-nightly-pajama-set-holiday","p":"6762125393982","y":"https://cdn.shopify.com/s/files/1/0967/2808/products/2pcPJSet-Easter_71c56bb5-fded-4f71-8ca4-0f07e34fe729.jpg?v=1647307990","q":true,"r":true,"s":46,"t":null,"u":1,"v":false,"w":"circle","tag":null,"x":"","z":"no_discount","aa":"0.0","ab":0,"price":"0.0","compare_at_price":"0.0"},{"id":20321933,"a":"Pre-order Now","b":false,"c":null,"d":"Out of stock","e":false,"f":"Only {{qty}} remaining","g":"Expected to ship 3/21","h":"hover","i":false,"j":"Pre-order","k":"2022-03-12T08:55:00.000Z","l":"2022-03-23T00:59:00.000Z","m":"variant","n":"39718312345662","o":true,"handle":"the-nightly-pajama-set-holiday","p":"6762125393982","y":"https://cdn.shopify.com/s/files/1/0967/2808/products/2pcPJSet-Easter_71c56bb5-fded-4f71-8ca4-0f07e34fe729.jpg?v=1647307990","q":true,"r":true,"s":46,"t":null,"u":1,"v":false,"w":"circle","tag":null,"x":"","z":"no_discount","aa":"0.0","ab":0,"price":"0.0","compare_at_price":"0.0"},{"id":20321931,"a":"Pre-order Now","b":false,"c":null,"d":"Out of stock","e":false,"f":"Only {{qty}} remaining","g":"Expected to ship 3/21","h":"hover","i":false,"j":"Pre-order","k":"2022-03-12T08:55:00.000Z","l":"2022-03-23T00:59:00.000Z","m":"variant","n":"39718312312894","o":true,"handle":"the-nightly-pajama-set-holiday","p":"6762125393982","y":"https://cdn.shopify.com/s/files/1/0967/2808/products/2pcPJSet-Easter_71c56bb5-fded-4f71-8ca4-0f07e34fe729.jpg?v=1647307990","q":true,"r":true,"s":26,"t":null,"u":1,"v":false,"w":"circle","tag":null,"x":"","z":"no_discount","aa":"0.0","ab":0,"price":"0.0","compare_at_price":"0.0"},{"id":20322060,"a":"Pre-order Now","b":false,"c":null,"d":"Out of stock","e":false,"f":"Only {{qty}} remaining","g":"Expected to ship 3/21","h":"hover","i":false,"j":"Pre-order","k":"2022-03-12T08:55:00.000Z","l":"2022-03-23T00:59:00.000Z","m":"variant","n":"39718332497982","o":true,"handle":"the-snap-footed-pajama-holiday","p":"6888097251390","y":"https://cdn.shopify.com/s/files/1/0967/2808/products/FootedPJ-Easter_7a9d7bee-fa4b-41d6-8ebf-df0c2d587382.jpg?v=1647308032","q":true,"r":true,"s":36,"t":null,"u":1,"v":false,"w":"circle","tag":null,"x":"","z":"no_discount","aa":"0.0","ab":0,"price":"0.0","compare_at_price":"0.0"},{"id":20322059,"a":"Pre-order Now","b":false,"c":null,"d":"Out of stock","e":false,"f":"Only {{qty}} remaining","g":"Expected to ship 3/21","h":"hover","i":false,"j":"Pre-order","k":"2022-03-12T08:55:00.000Z","l":"2022-03-23T00:59:00.000Z","m":"variant","n":"39718332465214","o":true,"handle":"the-snap-footed-pajama-holiday","p":"6888097251390","y":"https://cdn.shopify.com/s/files/1/0967/2808/products/FootedPJ-Easter_7a9d7bee-fa4b-41d6-8ebf-df0c2d587382.jpg?v=1647308032","q":true,"r":true,"s":46,"t":null,"u":1,"v":false,"w":"circle","tag":null,"x":"","z":"no_discount","aa":"0.0","ab":0,"price":"0.0","compare_at_price":"0.0"},{"id":20322058,"a":"Pre-order Now","b":false,"c":null,"d":"Out of stock","e":false,"f":"Only {{qty}} remaining","g":"Expected to ship 3/21","h":"hover","i":false,"j":"Pre-order","k":"2022-03-12T08:55:00.000Z","l":"2022-03-23T00:59:00.000Z","m":"variant","n":"39718332432446","o":true,"handle":"the-snap-footed-pajama-holiday","p":"6888097251390","y":"https://cdn.shopify.com/s/files/1/0967/2808/products/FootedPJ-Easter_7a9d7bee-fa4b-41d6-8ebf-df0c2d587382.jpg?v=1647308032","q":true,"r":true,"s":36,"t":null,"u":1,"v":false,"w":"circle","tag":null,"x":"","z":"no_discount","aa":"0.0","ab":0,"price":"0.0","compare_at_price":"0.0"},{"id":20322057,"a":"Pre-order Now","b":false,"c":null,"d":"Out of stock","e":false,"f":"Only {{qty}} remaining","g":"Expected to ship 3/21","h":"hover","i":false,"j":"Pre-order","k":"2022-03-12T08:55:00.000Z","l":"2022-03-23T00:59:00.000Z","m":"variant","n":"39718332399678","o":true,"handle":"the-snap-footed-pajama-holiday","p":"6888097251390","y":"https://cdn.shopify.com/s/files/1/0967/2808/products/FootedPJ-Easter_7a9d7bee-fa4b-41d6-8ebf-df0c2d587382.jpg?v=1647308032","q":true,"r":true,"s":26,"t":null,"u":1,"v":false,"w":"circle","tag":null,"x":"","z":"no_discount","aa":"0.0","ab":0,"price":"0.0","compare_at_price":"0.0"},{"id":20322056,"a":"Pre-order Now","b":false,"c":null,"d":"Out of stock","e":false,"f":"Only {{qty}} remaining","g":"Expected to ship 3/21","h":"hover","i":false,"j":"Pre-order","k":"2022-03-12T08:55:00.000Z","l":"2022-03-23T00:59:00.000Z","m":"variant","n":"39718332366910","o":true,"handle":"the-snap-footed-pajama-holiday","p":"6888097251390","y":"https://cdn.shopify.com/s/files/1/0967/2808/products/FootedPJ-Easter_7a9d7bee-fa4b-41d6-8ebf-df0c2d587382.jpg?v=1647308032","q":true,"r":true,"s":8,"t":null,"u":1,"v":false,"w":"circle","tag":null,"x":"","z":"no_discount","aa":"0.0","ab":0,"price":"0.0","compare_at_price":"0.0"}];
pn.settings.tagSettings=[];
</script>
<style type="text/css">
  .pn-original-subtotal{
    text-decoration: line-through;
    display:inline-block;
  }
  .pn-discounted-subtotal{
    font-weight:bold;
    margin-left:20px;
    display:inline-block;
    font-size: 1.3em;
  }

  .pn-line-item-original-price {
    text-decoration: line-through;
  }

  .pn-line-item-discounted-price {
    font-size: 1.2em;
    margin-left: 8px;
  }
</style>
{% endraw %}


<div id="pn-mixed-cart-warning" class="pn-modal">
  <div id="pn-mixed-cart-warning-content">
    <span id="pn-modal-close-btn">x</span>
    <h2 id="pn-mixed-cart-warning-title"></h2>
    <div id="pn-mixed-cart-warning-text"></div>
  </div>
</div>