{% assign color_thumbnail = variant.metafields.global.print_color | downcase %}
{% assign hide_product = false %}

{% for tag in product.tags %}
  {% if tag contains 'not-show' %}
  {% assign not_show__collection = tag | downcase | remove: 'not-show:' | split: '/' | first %}
  {% assign not_show__color = tag | downcase | remove: 'not-show:' | split: '/' | last %}
    {% if collection.handle == not_show__collection and not_show__color == color_thumbnail %}
    {% assign hide_product = true %}
    {% endif %}
  {% endif %}
{% endfor %}


{% unless hide_product %}
{% if sidebar %}
  <div class="{% if products_per_row == 2 %}six columns {% cycle collection_group_thumb: 'alpha', 'omega' %}{% elsif products_per_row == 3 %}four columns {% cycle collection_group_thumb: 'alpha', '', 'omega' %}{% elsif products_per_row == 4 %}three columns {% cycle collection_group_thumb: 'alpha', '', '', 'omega' %}{% else %}one-fifth-sidebar column {% cycle collection_group_thumb: 'alpha', '', '', '', 'omega' %}{% endif %} thumbnail {% cycle collection_group_mobile: 'even', 'odd' %}">
{% else %}
  <div class="
              variant-grid
              {{variant.option1 |  handleize }}
              {{variant.option2 | handleize  }}

              
    {% if products_per_row == 2 %}
      eight columns {% cycle collection_group_thumb: 'alpha', 'omega' %}
    {% elsif products_per_row == 3 %}
      one-third column small-down--one-half {% cycle collection_group_thumb: 'alpha', '', 'omega' %}
    {% elsif products_per_row == 4 %}
      four columns {% cycle collection_group_thumb: 'alpha', '', '', 'omega' %}
    {% elsif products_per_row == 5 %}
      one-fifth column {% cycle collection_group_thumb: 'alpha', '', '', '', 'omega' %}
    {% elsif products_per_row == 6 %}
      one-sixth column {% cycle collection_group_thumb: 'alpha', '', '', '', '', 'omega' %}
    {% else %}
      one-seventh column {% cycle collection_group_thumb: 'alpha', '', '', '', '', '', 'omega' %}
    {% endif %} thumbnail {% cycle collection_group_mobile: 'even', 'odd' %}">
{% endif %}
  

  {% assign collection_handles = product.collections | map: 'handle' %}
  {% if product.featured_image.alt contains 'youtube' or image.alt contains 'vimeo' %}
    {% assign alt_text = product.title %}
  {% else %}
    {% assign alt_text = product.featured_image.alt %}
  {% endif %}

  {% if settings.align_height %}
    {% assign collection_height = settings.collection_height | plus: 0 %}
    {% assign product_aspect_ratio = product.featured_image.aspect_ratio | plus: 0 %}
    {% assign product_set_width = product_aspect_ratio | times: collection_height %}

    {% if product.featured_image.width >= product.featured_image.height %}
      {% assign align_height_value = 'width: 100%; height: auto;' %}
    {% else %}
      {% assign align_height_value = 'width: 100%;' %}
    {% endif %}

  {% endif %}

  <div class="product-wrap">
    <div class="relative product_image swap-{{ settings.collection_secondary_image }} {{first_size_val}}">
      <a href="{{ product.url | within: collection | append: '?variant=' | append: variant.id }}" itemprop="url" data-url="{{variant.url}}">
        <div class="image__container" style="{% if settings.align_height %} max-width: {{ product_set_width }}px; {% else %} max-width: {{- product.featured_image.width -}}px; {% endif %}">
          <img  src="{{ variant.image | product_img_url: '100x' }}"
                alt="{{ alt_text | escape }}"
                class="lazyload {{ settings.image_loading_style }}"
                style="{{ align_height_value }} max-width: {{- product.featured_image.width -}}px;"
                data-sizes="auto"
                data-src="{{ variant.image | product_img_url: '900x' }}"
                data-srcset=" {{ variant.image | product_img_url: '300x' }} 300w,
                              {{ variant.image | product_img_url: '400x' }} 400w,
                              {{ variant.image | product_img_url: '500x' }} 500w,
                              {{ variant.image | product_img_url: '600x' }} 600w,
                              {{ variant.image | product_img_url: '700x' }} 700w,
                              {{ variant.image | product_img_url: '800x' }} 800w,
                              {{ variant.image | product_img_url: '900x' }} 900w"
              />
            </div>
        {% include 'variant-secondary-image' %}
          
        </a>
      {% assign collection_handles = product.collections | map: 'handle' %}
      <div class="thumbnail-overlay">
        <a href="{{ product.url | within: collection | append: '?variant=' | append: variant.id  }}" itemprop="url" class="hidden-product-link">{{ product.title }}</a>
        <div class="info">
          {% if settings.thumbnail_hover_enabled and settings.quick_shop_enabled %}
          {% include "product-info" %}
          {% include 'quick-shop-button' %}
          {% elsif settings.thumbnail_hover_enabled %}
          {% include "product-info" %}
          {% elsif settings.quick_shop_enabled %}
          {% include 'quick-shop-button' %}
          {% endif %}
        </div>
      </div>
      <div class="banner_holder">
        {% if product.available %}
        {% if settings.sale_banner_enabled and product.compare_at_price_max > product.price %}
        <div class="sale_banner thumbnail_banner">{{ 'collections.general.sale' | t }}</div>
        {% endif %}
        {% endif %}
        {% if collection_handles contains 'new' %}
        <div class="new_banner thumbnail_banner">{{ 'collections.general.new' | t }}</div>
        {% endif %}
        {% if collection_handles contains 'pre-order' %}
        <div class="preorder_banner thumbnail_banner">{{ 'collections.general.pre_order' | t }}</div>
        {% endif %}
      </div>
   
      
    </div>
    <a class="product-info__caption {% if settings.thumbnail_hover_enabled %}hidden{% endif %}" href="{{ product.url | within: collection | append: '?variant=' | append: variant.id }}" itemprop="url">
      {%comment%}{% include "product-info" %}{%endcomment%}
      {%- comment -%}Label{%- endcomment -%}
      {% include 'include-labels' %}
    
      <div class="product-details">
        <span class="title" itemprop="name">{% if product.metafields.global.title != blank %}{{ product.metafields.global.title }}{% else %}{{ product.title }}{% endif %}{% if variant.metafields.global.print_color != blank %}
        <span class="metafields-print_color"> - {{ variant.metafields.global.print_color }}</span>
        {% endif %}</span>
        {% if product.metafields.global.subtitle != blank %}
        <span class="metafields-subtitle">{{ product.metafields.global.subtitle }}</span>
        {% endif %}
        
        {% if settings.enable_shopify_collection_badges and settings.enable_shopify_review_comments %}
          <span class="shopify-product-reviews-badge" data-id="{{ variant.id }}"></span>
        {% endif %}
        {% if settings.display_vendor %}
          <span itemprop="brand" class="brand">{{ product.vendor }}</span>
        {% endif %}

        {% if collection_handles contains 'coming-soon' %}
          <span class="modal_price">{{ 'collections.general.coming_soon' | t }}</span>
        {% else %}
          <span class="price dfdf{% if variant.compare_at_price > variant.price %}sale{% endif %}">
            {% if variant.available %}
              	{% if variant.price > 0 %}
                	{% comment %}<small><em>{{ 'products.general.from' | t }}</em></small>{% endcomment %}
                  	<span class="money">{{ variant.price | money }}</span>
                {% else %}
                  {{ settings.free_price_text }}
                {% endif %}
            {% else %}
              <span class="sold_out">{{ 'products.product.sold_out' | t }}</span>
              {% comment %}<small><em>{{ 'products.general.from' | t }}</em></small>{% endcomment %}
              <span class="money">{{ variant.price | money }}</span>
            {% endif %}
            {% if variant.compare_at_price > variant.price %}
              <span class="was_price">
                <span class="money">{{ variant.compare_at_price | money }}</span>
              </span>
            {% endif %}
          </span>
        {% endif %}
      </div>
      
    </a>
  </div>
{%comment%}{% include 'collection-swatch' %}{%endcomment%}
</div>
{% endunless %}
