{% assign product_found = false %}
{% assign skip = false %}
{% assign collection_group = products | map: 'id' %}
{% assign collection_group_thumb = collection_group | append : 'thumb' %}
{% assign collection_group_mobile = collection_group | append : 'mobile' %}
{% if template.suffix contains 'details' %}
{% assign products_per_row = 3 %}
{% endif %}

{% capture new_row %}
    <br class="clear product_clear" />
{% endcapture %}

<div itemtype="http://schema.org/ItemList" class="product-list collection-matrix clearfix test">
  {% for product in products limit: limit %}

  {% for product_option in product.options_with_values %}

  {%if product_option.name contains "Size" or product_option.name contains "size" %}
  {% for value in product_option.values limit: 1 %}
  {% assign first_size_val = value %}
  {%break%%}
  {% endfor %}
  {%endif%}

  {% endfor %}

  
  
  
    {% if product.options.size > 1 %}

    {% assign product_found = false %}
    {% assign skip = false %}
  
  		{% for variant in product.variants %}

          	{% if variant.title contains first_size_val %}
  
              {% if product.id == skip_product.id or skip == true %}

                {% assign product_found = true %}
              {% else %}


<!-- {{variant.available}} - {{ variant.image }} - {{ variant.image.alt }}-->
                  {% include 'product-thumbnail-separate' with product-loop-new %}

			  {% comment %}
                  {% if products_per_row == 2 %}
                    {% cycle collection_group: '', new_row %}
                  {% elsif products_per_row == 3 %}
                    {% cycle collection_group: '', '', new_row %}
                  {% elsif products_per_row == 4 %}
                    {% cycle collection_group: '', '', '', new_row %}
                  {% elsif products_per_row == 5 %}
                    {% cycle collection_group: '', '', '', '', new_row %}
                  {% elsif products_per_row == 6 %}
                    {% cycle collection_group: '', '', '', '', '', new_row %}
                  {% elsif products_per_row == 7 %}
                    {% cycle collection_group: '', '', '', '', '', '', new_row %}
                  {% endif %}
  
			  {% endcomment %}
  
 				{% endif %}
  			{% endif %}
  
  
  		{% endfor %}
    {%else%}

      {% assign product_found = false %}
      {% assign skip = false %}  

      {% for variant in product.variants %}
          {% if product.id == skip_product.id or skip == true %}
             {% assign product_found = true %}
          {% else %}
              {% include 'product-thumbnail-separate' with product-loop-new %}

  			{% comment %}
              {% if products_per_row == 2 %}
              {% cycle collection_group: '', new_row %}
              {% elsif products_per_row == 3 %}
              {% cycle collection_group: '', '', new_row %}
              {% elsif products_per_row == 4 %}
              {% cycle collection_group: '', '', '', new_row %}
              {% elsif products_per_row == 5 %}
              {% cycle collection_group: '', '', '', '', new_row %}
              {% elsif products_per_row == 6 %}
              {% cycle collection_group: '', '', '', '', '', new_row %}
              {% elsif products_per_row == 7 %}
              {% cycle collection_group: '', '', '', '', '', '', new_row %}
              {% endif %}
  			{% endcomment %}
  
          {%endif%}
      {% endfor %}
  	{%endif%}
  {% endfor %}
  {% if settings.pagination_type == 'load_more' or settings.pagination_type == 'infinite_scroll' and template contains 'collection' %}
    {% if paginate.next.url %}
      <div class="js-load-more load-more">
        <a href="{{ paginate.next.url }}" data-no-instant class="load-more__btn action_button continue-button">{{ 'collections.general.load_more' | t }}</a>
      </div>
    {% endif %}
  {% endif %}
</div>
<div class="load-more__icon"></div>